@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #191919;
}

.btnLogin {
  background-color: #f9d783;
  border: 1px solid #f9d783;
  color: #191919;
  text-decoration: none;
  padding: 8px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
  //   Satte align & justify så att text och logo (boxen) ser ut att ligga på samma textrad.
  align-items: center;
  justify-content: center;

  i {
    margin-left: 3.5px;
    font-size: 0.75em;
  }

  &:hover {
    background-color: #191919;
    border: 1px solid #191919;
    color: #f0efe9;
  }
}

.btnPrimary {
  background-color: #f9d783;
  border: 1px solid #f9d783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
  //   Satte align & justify så att text och logo (boxen) ser ut att ligga på samma textrad.
  align-items: center;
  justify-content: center;

  i {
    margin-left: 3.5px;
    font-size: 0.75em;
  }

  &:hover {
    background-color: #191919;
    border: 1px solid #191919;
    color: #f0efe9;
  }
}
.btnPrimaryBlack {
  background-color: #191919;
  border: 1px solid #191919;
  color: #f0efe9;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
  //   Satte align & justify så att text och logo (boxen) ser ut att ligga på samma textrad.
  align-items: center;
  justify-content: center;

  i {
    margin-left: 3.5px;
    font-size: 0.75em;
  }

  &:hover {
    background-color: #f0efe9;
    border: 1px solid #191919;
    color: #191919;
  }
}
.btnSecondary {
  background-color: #f0efe9;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  //i demo video ändras knapp i showcase genom att manipulera "a" men hade lkikväl kunnat göras här då jag har delat upp knapp i 3 enskilda enheter.
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
  //   Satte align & justify så att text och logo (boxen) ser ut att ligga på samma textrad.
  align-items: center;
  justify-content: center;

  i {
    margin-left: 3.5px;
    font-size: 0.75em;
  }

  &:hover {
    background-color: #191919;
    border: 1px solid #191919;
    color: #f0efe9;
  }
}

.sectionTitle {
  padding-top: 70px;
  padding-bottom: 40px;

  @media (margin-width: 768px) {
    padding-top: 120px;
    padding-bottom: 90px;
  }

  p {
    color: #f94d1c;
    margin-bottom: 10px;
    // osäker om detta "nedanför detta/font osv." fanns med i video, men bör va med enligt designmanual.
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
  }

  h2 {
    color: #191919;
    font-family: "DM sans", sans-serif;
    font-weight: 700;
    font-size: 45px;
  }
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #f0efe9;
  padding: 15px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;

    .menuBars {
      border: none;
      font-size: 25px;
      background-color: transparent;

      @media (min-width: 992px) {
        display: none;
      }
    }

    .menu {
      display: none;
      flex: 1;

      @media (min-width: 992px) {
        display: block;
      }

      .topMenu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 1px solid #dad9d3;
        padding-bottom: 10px;

        @media (min-width: 1200px) {
          justify-content: space-between;
        }

        .contactInformation {
          display: none;
          align-items: center;

          @media (min-width: 1200px) {
            display: flex;
          }

          .contentBox {
            padding-right: 30px;
            margin-right: 30px;
            border-right: 1px solid #dad9d3;
            font-family: "Inter", sans-serif;
            font-size: 15px;
            font-weight: 300;

            i {
              margin-right: 5px;
              font-size: 1.2em;
              color: #6c6c6c;
            }

            &.last {
              border: none;
            }
          }
        }

        .socialMedia {
          a {
            color: #191919;
            font-size: 1.3rem;
            margin-left: 10px;

            &:hover {
              color: #b1b1b1;
            }
          }
        }
      }

      .mainMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;

        nav {
          a {
            display: inline-block;
            color: #191919;
            text-decoration: none;
            margin-right: 35px;
            position: relative;

            &.active {
              font-weight: 500;
            }

            &.active::after,
            &:hover::after {
              content: "";
              position: absolute;
              font-weight: 500;
              height: 2px;
              width: 15px;
              background-color: #191919;
              left: 50%;
              bottom: -3px;
              transform: translate((calc(50% - 15px)));
            }
          }
        }
      }
    }

    @media (min-width: 2500px) {
      max-width: 2048px;
    }
  }
}

.showcase {
  background-color: #f0efe9;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .content {
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: center;

      @media (min-width: 1200px) {
        text-align: left;
      }
      h1 {
        font-family: "DM sans", sans-serif;
        font-weight: 700;
        font-size: 40px;

        @media (min-width: 768px) {
          font-size: 70px;
        }

        @media (min-width: 1200px) {
          font-size: 70px;
        }

        @media (min-width: 1400px) {
          font-size: 86px;
        }
      }
      p {
        //se över denna sektion i videon igen, väldigt trött-ca 60min in i video..
        font-size: 18px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;

        @media (min-width: 768px) {
          font-size: 20px;
          padding-left: 0px;
          padding-right: 0px;
        }
      }
      a {
        margin-right: 0px;
        display: block;
        margin-bottom: 20px;

        @media (min-width: 768px) {
          margin-right: 10px;
          display: inline-block;
        }
      }
    }
    img {
      display: none;
      margin-right: -50px;

      @media (min-width: 1200px) {
        display: block;
      }
    }
  }
}

.features {
  padding-top: 50px;
  .container {
    border: 1px solid #f0efe9;
    display: flex;
    flex-direction: column;
    text-align: center;

    @media (min-width: 768px) {
      flex-direction: row;
      text-align: left;
    }

    .sectionTitle {
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      padding: 20px;
      margin-right: 0px;
      
      @media (min-width:768px){
        margin-right: 100px;
      }
      p {
      }
      h2 {
      }
      a {
        text-align: center;
      }
    }

    .rightContent {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      padding: 20px;
      .infoPlate-1 {
        img {
        }
        h3 {
        }
        p {
        }
      }
    }
  }
}

.projectAndcases {
  .container {
    .sectionTitle {
      text-align: center;
    }

    .projectAndCasesContent {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;

      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }

      .project {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        color: #191919;
        text-decoration: none;

        img {
          width: 100%;
          height: auto;
        }
        h3 {
          color: #191919;
          font-family: "DM sans", sans-serif;
          font-weight: 700;
          font-size: 22px;
          padding-top: 35px;
          padding-bottom: 16px;
          border-bottom: 1px solid #dad9d3;
        }
        .readMore {
          padding: 15px;
          display: block;
          text-align: right;
          font-family: "Inter", sans-serif;
          font-size: 14px;
          font-weight: 500;
          text-decoration: none;
          color: #191919;

          i {
            margin-left: 3px;
          }
        }
        &:hover .readMore {
          text-decoration: underline;
        }
      }
    }
    .centerContent {
      // i videon, fanns ingen @media här, men tyckte avstånd top/botten på knappen va för stort på mobilversion.
      // gjorde så att avstånd från material och knapp var som i showcase- top&bottom 40px ist.
      margin-top: 40px;
      margin-bottom: 40px;
      @media (min-width: 768px) {
        margin-top: 50px;
        margin-bottom: 90px;
      }
    }
  }
}
footer {
  background-color: #f94d1c;
}
